body{ width:100%; height:100%;
   background-image: url(http://www.santeularia.com/site/bg_top-left.png),
        url(http://www.santeularia.com/site/bg_top-right.png),
        url(http://www.santeularia.com/site/bg_bot-left.png),
        url(http://www.santeularia.com/site/bg_bot-right.png),
        url(http://www.santeularia.com/site/bg_top.png),
        url(http://www.santeularia.com/site/bg_bottom.png),
        url(http://www.santeularia.com/site/bg_left.png),
        url(http://www.santeularia.com/site/bg_right.png);        
    background-position: left top, right top, left bottom, right bottom, center top, center bottom, left, right;
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, repeat-x, repeat-x, repeat-y, repeat-y;
    background-color:#122a3f;
}